.cont {
    width: 60vw;
    margin: 0 20vw 0 20vw;
}

.texto {
    text-align: center;
    margin: 5vh 0 2vh 0;
}

.botaoEnviar {
    width: 30vw;
    margin: 0 15vw 0 15vw;  
}

.boxSelection {
    margin: 5vh 14vw 0 14vw;    
}

.salaSelector {
    width: 20vw;
    border-radius: 4em;
    height: 5vh;
}

.botaoSala {
    width: 10vw;
    height: 5vh;
}